.Clock {
  position: absolute;
  color: #333333;
  font-size: 150%;
  top: 130px;
  text-align: center;
  font-weight: bolder;
  width: 100%;
}
.Title h1{
  position: absolute;
  width: 100%;
  text-align: center;
  color: #333333;
  font-size: 300%;
}
body {
  background-color: #D6D7D9;
}
h2 {
  text-align: center;
  color: #333333;
}