.Clock {
  color: #333333;
  font-size: 200%;
  text-align: center;
  
}
.Title h1{
  text-align: center;
  color: #333333;
  font-size: 400%;
}
body {
  background-color: #D6D7D9;
}
h2 {
  text-align: center;
  color: #333333;
}